# Notes from IPEM Software Surgery Meeting

## Querying an SQL database from within python using pandas
First we need to load the pandas and sqlite3 packages

In [1]:
import pandas as pd
import sqlite3 as sq

Create a connection to our SQL database (in this case called software_surgery.db)

In [9]:
!ls ../../Syncthing/Work_related/SampleData/

testobject.dcm

In [7]:
connection = sq.connect("software_surgery.db")

Run a query against the database and save the result into a pandas dataframe

In [8]:
df = pd.read_sql_query("SELECT * FROM computed_tomography", connection)

DatabaseError: Execution failed on sql 'SELECT * FROM computed_tomography': no such table: computed_tomography

In [ ]:
df.head()

In [ ]:
(df.dose_length_product * df.pitch_factor).max()